@media screen and (max-width: 850px) {
  section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
  }

  #desktopNav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    align-items: center;
  }

  #hamburger-nav i {
    font-size: 40px;
  }

  #profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-container,
  .about-containers {
    display: flex;
    flex-direction: column;
  }

  #experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience-details-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 650px) {
  section {
    margin: 1rem;
    padding-top: 2vh;
  }

  .title {
    font-size: 2rem;
  }

  .section__text__p2 {
    font-size: 1.2rem;
  }

  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
  }

  #profile {
    gap: 2rem;
    height: auto;
  }

  #profile .myPic img {
    height: 150px;
    width: 150px;
  }

  .section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .about-pic {
    width: 200px;
  }

  .experience-details-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #experience .details-container {
    width: 100%;
    max-width: 300px;
  }

  .details-container {
    width: 100%;
    max-width: 300px;
  }

  .article-container {
    grid-template-columns: 1fr;
  }

  .text-container {
    padding: 0 1rem;
  }

  .contact-info-upper-container {
    flex-direction: column;
    gap: 1.5rem;
  }
}